@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --call-action-color: #a259ff;
  --radius: 20px;
  --secondary-font: "Space Mono", monospace;
  --secondary-color: #cccccc;
  --tertiary-color: #858584;
  --bg-color: #3b3b3b;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background: #2b2b2b;
}
.p-3 {
  padding: 25px;
}
h5 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--white);
  font-family: var(--secondary-font);
}

h4 {
  font-family: var(--secondary-font);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--white);
}

h3 {
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 2.85rem;
  color: var(--white);
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: var(--white);
}

h1 {
  font-size: 67px;
  font-weight: 600;
  line-height: 74px;
  color: var(--white);
}

p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 120px;
}

.badge {
  width: 50px;
  height: 32px;
  padding: 5px 10px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-color: var(--bg-color);
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
}
