@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --call-action-color: #a259ff;
  --radius: 20px;
  --secondary-font: "Space Mono", monospace;
  --secondary-color: #cccccc;
  --bg-color: #3b3b3b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background: #2b2b2b;
}
.p-3{
  padding: 25px;
}
h5 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #ffffff;
}

h3 {
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 2.85rem;
  color: #ffffff;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: var(--secondary-color);
}
